nav#main-nav.main-nav
  .main-nav__wrapper
    ul.main-nav__list
      li.main-nav__item
        i.far.fa-cog.fa-lg.main-nav__item-icon
        a.main-nav__link(href='#') Settings
      li.main-nav__item.active
        i.far.fa-user.fa-lg.main-nav__item-icon
        a.main-nav__link(href='#') Account
      li.main-nav__item
        i.far.fa-envelope.fa-lg.main-nav__item-icon
        a.main-nav__link(href='#') Messages
          .main-nav__unread-messages 5
      li.main-nav__item
        i.far.fa-star.fa-lg.main-nav__item-icon
        a.main-nav__link(href='#') Favourites
