.menu-box
  h2.menu-box__title Menu Box
  ul.menu-box__items-list
    li.menu-box-item
      i.far.fa-envelope.fa-lg.menu-box-item__icon
      span.menu-box-item__title Messages
      span.menu-box-item__nums  24
    li.menu-box-item.active
      i.far.fa-paper-plane.menu-box-item__icon
      span.menu-box-item__title Invites
      span.menu-box-item__nums  3
    li.menu-box-item
      i.far.fa-calendar.fa-lg.menu-box-item__icon
      span.menu-box-item__title Events
      span.menu-box-item__nums  24
    li.menu-box-item
      i.far.fa-cog.fa-lg.menu-box-item__icon
      span.menu-box-item__title Account Settings
    li.menu-box-item
      i.far.fa-chart-line.fa-lg.menu-box-item__icon
      span.menu-box-item__title Statistics
