.stat-block
  h2.stat-block__title OS audience stats
  .stat-block__diagram-wrapper
    img.stat-block__diagram(src='img/stat.png', alt='', loading='lazy')
    .stat-block__text-wrapper
      span.stat-block__month June
      span.stat-block__year 2013
  .stat-block__stat-wrapper
