.user-card
  button.user-card__plus-btn
    i.far.fa-plus-circle

  .user-card__pic
    img.user-card__pic-img(src='img/user_pic.png', alt='Anne Hathaway')

  h2.user-card__title Anne Hathaway
  p.user-card__descr Lorem ipsum dolor sit amet consectetuer adipiscing

  ul.user-card__statistic
    li.user-card-stat-item.user-card-stat-item--posts
      i.far.fa-comment.fa-lg.user-card-stat-item__ico
      span 23
    li.user-card-stat-item.user-card-stat-item--views
      i.far.fa-eye.fa-lg.user-card-stat-item__ico
      span 841
    li.user-card-stat-item.user-card-stat-item--likes
      i.far.fa-heart.fa-lg.user-card-stat-item__ico
      span 49
