.user-block
  button.user-block__submenu-btn
    span.user-block__name Me
    i.fas.fa-chevron-down.user-block__submenu-btn-icon
  .user-block__submenu
  .user-block__pic
    img.user-block__pic-img(src='img/user_pic.png', alt='Me', loading='lazy')
