extends ../pug/layout.pug

block meta
  title Account
  meta(name='description', content='')

block header
  include ../pug/blocks/header.pug

block content
  main.page__content-wrapper
    include ../pug/blocks/menu-box.pug
    include ../pug/blocks/user-card.pug
    include ../pug/blocks/subscribe-block.pug
