$main-color:          #394165;
$active-color:        #50587c;
$warning-color:       #e64c66;
$warning2-color:      #cc324c;

$design-color:        #10a8ab;
$design2-color:       #ffaf33;

$ico-color:           #8c94b8;
$bg-color:            #1f253d;

$white-color:         #ffffff;

$gray-light:          #f2f2f2;
$gray-dark:           #231f20;

$text-color:          $white-color;

$transparent-color:   rgba(255, 255, 255, 0);

$font-family:         Ubuntu, Arial, Roboto, 'Helvetica Neue', sans-serif;
$font-size:           14px;
$line-height:         1.4;

$gap-lg:              24px;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           950px;
$screen-lg:           1200px;
